<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:31 GMT -->

<head>
    <meta charset="utf-8">
    <title>STAG Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/adminassets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/adminassets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="dashboard" class="brand-wrap">
                <img src="/adminassets/imgs/theme/logo.png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" href="dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href=""> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                        <a href="productList">Product List</a>
                        <a href="categories">Categories</a>
                        <a href="categoryoffer">Category Offer</a>
                    </div>

                </li>
                <li class="menu-item has-submenu ">
                    <a class="menu-link" href="page-orders-1.html"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                    <div class="submenu">
                        <a href="orderlist">Order list </a>
                    </div>
                </li>
                
                <li class="menu-item ">
                    <a class="menu-link" href="addProducts"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>

                </li>
               
                <li class="menu-item ">
                    <a class="menu-link" href="users"> <i class="icon material-icons md-person"></i>
                        <span class="text">Users</span> 
                    </a>

                </li>
                <li class="menu-item">
                    <a class="menu-link" href="couponList"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text">Coupon</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="salesReport"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Sales Report</span>
                    </a>
                </li>
                 <li class="menu-item">
                    <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Reviews</span>
                    </a>
                </li> 
                <li class="menu-item">
                    <a class="menu-link" href="brand"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li>
                
            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/adminassets/imgs/people/avtar.png" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/admin/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main ">
            <div class="row ">
                <div class="col-9">

                    <div class="content-header" style="padding-top: 100px;">
                        <h2 class="content-title">Add Coupon</h2>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Basic</h4>
                        </div>
                        <div class="card-body">
                            <form method="post" id="copform">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Coupon Name</label>
                                    <input type="text" placeholder="Type here" name="name" class="form-control"
                                        id="couponname">
                                    <p><span id="error1" style="display: none; color: red;"></span></p>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-4">
                                            <label class="form-label">Minimum Discount</label>
                                            <div class="row gx-2">
                                                <input placeholder="Type here" name="discount" type="text"
                                                    id="mindiscount" class="form-control">
                                                <p><span id="error2" style="display: none; color: red;"></span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-lg-6">
                                        <div class="mb-4">
                                            <label class="form-label">Maximum Discount</label>
                                            <input placeholder="Type here" name="maxdiscount" type="text"
                                                id="maxdiscount" class="form-control">
                                            <p><span id="error3" style="display: none; color: red;"></span></p>
                                        </div>
                                    </div> -->
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-4">
                                            <label class="form-label">Minimum Purchase</label>
                                            <div class="row gx-2">
                                                <input placeholder="Type here" name="minpurchase" type="text"
                                                    id="minpurchase" class="form-control">
                                                <p><span id="error4" style="display: none; color: red;"></span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-4">
                                            <label class="form-label">Coupon Expirey</label>
                                            <input placeholder="Type here" name="expirydate" id="expiry" type="date"
                                                class="form-control">
                                            <p><span id="error5" style="display: none; color: red;"></span></p>
                                        </div>
                                    </div>
                                </div>
                                <div style="align-items: center;">
                                    <button type="submit" class="btn btn-md rounded font-sm hover-up">Publish</button>
                                </div>
                                </form>

                        </div>
                    </div> <!-- card end// -->
                </div>
                
            </div>
        </section>
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                        document.write(new Date().getFullYear())
                    </script> ©,STAG MEN FASHION .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>=
        </footer>
    </main>
    <script src="/public/adminassets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/public/adminassets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/public/adminassets/js/vendors/select2.min.js"></script>
    <script src="/public/adminassets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/public/adminassets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/public/adminassets/js/main.js" type="text/javascript"></script>

    <script>
       const cname = document.getElementById('couponname');
const mindisc = document.getElementById('mindiscount');
// const maxdisc = document.getElementById('maxdiscount');
const purchase = document.getElementById('minpurchase');
const expiry = document.getElementById('expiry');
const copform = document.getElementById('copform');

const error1 = document.getElementById('error1');
const error2 = document.getElementById('error2');
// const error3 = document.getElementById('error3');
const error4 = document.getElementById('error4');
const error5 = document.getElementById('error5');

function validateCouponName() {
    const nameval = cname.value.trim();
    const namePattern = /^[a-zA-Z][a-zA-Z]*$/;
    if (nameval === "") {
        showError(error1, "Please Enter a valid name.");
    } else if (!namePattern.test(nameval)) {
        showError(error1, "Invalid format for the Name. First letter should be capital.");
    } else {
        hideError(error1);
    }
}

function validateMinDiscount() {
    const minDiscVal = parseFloat(mindisc.value.trim());
    if (isNaN(minDiscVal) || minDiscVal < 0) {
        showError(error2, "Please enter a valid minimum discount.");
    } else {
        hideError(error2);
    }
}

// function validateMaxDiscount() {
//     const maxDiscVal = parseFloat(maxdisc.value.trim());
//     if (isNaN(maxDiscVal) || maxDiscVal < 0) {
//         showError(error3, "Please enter a valid maximum discount.");
//     } else {
//         hideError(error3);
//     }
// }

function validateMaxGreaterMin() {
    const minDiscount = parseFloat(mindisc.value.trim());
    const maxDiscount = parseFloat(maxdisc.value.trim());
    if (maxDiscount <= minDiscount) {
        showError(error3, "Maximum discount should be greater than Minimum");
    } else {
        hideError(error3);
    }
}

function validateMinPurchase() {
    const minPurchaseVal = parseFloat(purchase.value.trim());
    if (isNaN(minPurchaseVal) || minPurchaseVal < 0) {
        showError(error4, "Please enter a valid minimum purchase amount.");
    } else {
        hideError(error4);
    }
}

function validateExpiryDate() {
    const currentDate = new Date();
    const selectedDate = new Date(expiry.value);
    if (!expiry.value || selectedDate <= currentDate) {
        showError(error5, "Please select a future expiry date.");
    } else {
        hideError(error5);
    }
}

function showError(errorElement, message) {
    errorElement.style.display = "block";
    errorElement.innerHTML = message;
}

function hideError(errorElement) {
    errorElement.style.display = "none";
    errorElement.innerHTML = "";
}

cname.addEventListener('blur', validateCouponName);
mindisc.addEventListener('blur', validateMinDiscount);
// maxdisc.addEventListener('blur', validateMaxDiscount);
maxdisc.addEventListener('blur', validateMaxGreaterMin);
purchase.addEventListener('blur', validateMinPurchase);
expiry.addEventListener('blur', validateExpiryDate);

copform.addEventListener('submit', function (e) {
    validateCouponName();
    validateMinDiscount();
    // validateMaxDiscount();
    validateMaxGreaterMin();
    validateMinPurchase();
    validateExpiryDate();

    if (error1.innerHTML || error2.innerHTML || error4.innerHTML || error5.innerHTML) {
        e.preventDefault();
    }
});


    </script>
</body>



<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->

</html